<div class="fixed flex flex-col w-64 h-screen pt-16 pb-32 inset-y-0 overflow-y-auto bg-white border-r border-gray-200 border-solid font-poppins">
    <nav>
        <div class="p-0 m-0 mt-6 list-none">
            <ul class="space-y-0">
                <li>
                    <a href="/user/dashboard" class="flex group/link cursor-pointer px-0 pl-6 py-3 items-center not-italic font-medium text-black text-sm border-l-4 border-transparent hover:bg-gray-100 <% if (page_name === 'dashboard') { %> text-custom-purple-500 border-custom-purple-500 bg-gray-100 active<% } %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke="currentColor" class="<% if (page_name === 'dashboard') { %>text-custom-purple-500<% } else { %>text-gray-400<% } %> group-hover/link:text-black mr-4 shrink-0 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg> 
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/user/expenses" class="flex group/link cursor-pointer px-0 pl-6 py-3 items-center not-italic font-medium text-black text-sm border-l-4 border-transparent hover:bg-gray-100 <% if (['expenses', 'expense-create'].includes(page_name)) { %>text-custom-purple-500 border-custom-purple-500 bg-gray-100 active<% } %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="<% if (['expenses', 'expense-create'].includes(page_name)) { %>text-custom-purple-500<% } else { %>text-gray-400<% } %> group-hover/link:text-black mr-4 shrink-0 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path>
                        </svg>
                        Expenses
                    </a>
                </li>
                <li>
                    <a href="/user/budgets" class="flex group/link cursor-pointer px-0 pl-6 py-3 items-center not-italic font-medium text-black text-sm border-l-4 border-transparent hover:bg-gray-100 <% if (['budgets', 'budget-create'].includes(page_name)) { %>text-custom-purple-500 border-custom-purple-500 bg-gray-100 active<% } %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="<% if (['budgets', 'budget-create'].includes(page_name)) { %>text-custom-purple-500<% } else { %>text-gray-400<% } %> group-hover/link:text-black mr-4 shrink-0 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path>
                        </svg>
                        Budgets
                    </a>
                </li>
                <li>
                    <a href="/user/invoices" class="flex group/link cursor-pointer px-0 pl-6 py-3 items-center not-italic font-medium text-black text-sm border-l-4 border-transparent hover:bg-gray-100 <% if (page_name === 'invoices') { %>text-custom-purple-500 border-custom-purple-500 bg-gray-100 active<% } %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="<% if (page_name === 'invoices') { %>text-custom-purple-500<% } else { %>text-gray-400<% } %> group-hover/link:text-black mr-4 shrink-0 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                        </svg> 
                        Invoices
                    </a>
                </li>
                <li>
                    <a href="/user/reports" class="flex group/link cursor-pointer px-0 pl-6 py-3 items-center not-italic font-medium text-black text-sm border-l-4 border-transparent hover:bg-gray-100 <% if (page_name === 'reports') { %>text-custom-purple-500 border-custom-purple-500 bg-gray-100 active<% } %>">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="<% if (page_name === 'reports') { %>text-custom-purple-500<% } else { %>text-gray-400<% } %> group-hover/link:text-black mr-4 shrink-0 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path>
                        </svg>
                        Reports
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</div>